body{
  font-family: 'Rubik', sans-serif;
}
#inputMessage{
  height: 100px;
}
/*NAVBAR STYLES */
#navNumButton{
  background-color: #30475e;
  color: #ffff;
}
/* navbar customization  */
#navBarCust{
background-color: #222831;
padding: 0.5% 0;
width: 100%;
}
#navBarLogo{
  color: #dddddd;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 800;
}
#navButtons{
  padding: 0;
}


/*TOP CONTAINER STYLES*/
.topContainer{
  background-color: #000;
  color: #fff;
  padding: 3% 0 0;
  position: relative;
}
.centered {
  position: absolute;
  padding-top: 7%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sdImage{
  width: 100%;
}
.classHead1{
      font-family: 'Rubik', sans-serif;

  font-size: 2.5rem;
}
.classHead2{
  font-family: 'Playfair Display', serif;
}



/*MIDDLE CONTAINER STYLES - KETO AD & FIRM INFO*/
.middleContainter{
  background-color: #ffff;
  padding:5% 3% 0;
}

/* /right side */
.ketoAD{
  background-color: #fff;
  margin: auto;
}
.heading1{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.heading2{
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}
.ketoImage{
  padding: 3% 5% 7%;
  width: 100%;
}
.bodyAD{
  line-height: 2;
  text-align: justify;
}
.ketoForm{
  padding: 3% 4%;
  font-weight: 600;
  line-height: 2;
}
.submitButton{
  padding-bottom: 5%;
}

/* left side */
.gregInfo{
  background-color: #222831;
}
.gregImage{
  padding: 5% 15% 0;
  width: 100%;
}
.westonHeading{
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  padding-top: 5%;
  text-align: center;
}
.infoBody1{
  color: #fff;
  line-height: 2;
  padding: 8% 15% 0;
  text-align: justify;
}
.infoBody2{
  color: #fff;
  line-height: 2;
  padding: 0 15% 8%;
  text-align: justify;
}
.focusHeading{
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 10%;
}
.infoList{
  color: #fff;
  line-height: 2;
  padding: 3% 15% 0;
  text-align: left;
}



/*BOTTOM CONTAINER STYLES - Sucess Data*/
.bottomContainer{
  background-color: #fff;
  color: #000;
  padding: 2% 15%;
}
.cardContainer{
  background-color: #222831;
  padding: 3% 5%;
}
.cardHeader{
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 3%;
}
.cards{
    background-color: #dddddd;
    border: solid thin;
    text-align: center;
  }
.cardTitle{
  font-size: 2rem;
}
.cardSub{
font-family: 'Playfair Display', serif;
font-size: 1rem;
  font-weight: bold;
}
.cardBody{
  font-size: .75rem;
  text-align: center;
}
.divider{
  padding: 1% 0 5%;
}
.cardDivider{
  border: solid #dddddd;
  border-width: 1%;

}






/*FOOTER STYLES*/
.footer{
  background-color: #222831;
  color:#dddddd;
  padding: 2% 0 1%;
}
.footerDivider{
  border: solid #dddddd;
  border-width: 1%;
  background-color: none;
}
.disclosureHeading{
  color: #dddddd;
  font-size: .75rem;
  padding: 0 0 0 2%;
  line-height: 0;
}
.copyright{
  color: #dddddd;
  font-weight: lighter;
  font-size: .75rem;
    padding: 0 0 0 1%;
}
.footerImage{
  padding: 5% 0 0 20%;
  width: 50%;
}
.footerTitles{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 5% 0 0 0;
}
.footerBody{
  font-size: .75rem;
}


/* MEDIA STYLES*/
@media (max-width: 1200px){
  .classHead1{
    font-size: 1.5rem;
  }
  .classHead2{
    font-size: 1rem;
  }

  .middleContainter{
    padding:2% 2% 0;
  }
  .westonHeading{
    font-size: 1.4rem;
    padding: 10% 0 5%;
    text-align: center;
  }
  .gregImage{
    padding-bottom: 3%;
  }
  .infoBody1{
    padding: 8% 10% 0;
  }
  .infoBody2{
    padding: 0 10% 8%;
  }
  .focusHeading{
    font-size: 2rem;
    padding-top: 15%;
  }
  .infoList{
    padding: 5% 10% 0;
    text-align: left;
  }
}



@media (max-width: 850px){
  .sdImage{
    padding-top: 5%;
  }
  .classHead1{
    font-size: 1.3rem;
    padding-top: 8%;
  }
  .infoBody1{
    text-align: left;
  }
  .infoBody2{
    text-align: left;
  }
  .focusHeading{
    font-size: 1.5rem;
  }
  .infoList{
    padding-bottom: 2%;
  }
}
@media (max-width: 650px){
  .sdImage{
    padding-top: 9%;
  }
  .classHead1{
    padding-top: 20%;
    font-size: 1.1rem;
  }
  .centered{
    margin: auto;
  }
}
@media (max-width: 580px){
  .middleContainter{
    padding: 5% 5%;
  }
  .bottomContainer{
    padding-bottom: 10%;
  }
  .disclosureHeading{
    padding: 0 0 0 5%;
  }
  .copyright{
    padding-left: 3%;
  }
  .footerImage{
    padding: 5% 30% 5% 33%;
    margin: auto;
    width: 100%;
  }
  .footerContainers{
    padding-left: 5%;
    text-align: center;
  }
}
